/*nav*/
#main-nav{
    background-color: #accff5;
    color: #83b8f0;
}

body {
    background-image: url(./assets/Bright-Light-Wave-Backgrounds-HD-picture.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#title{
    text-align: center;
}

#text{
    text-align: center;
    color: rgb(20, 141, 248);
}

#text2{
    text-align: center;
    color: rgb(20, 141, 248);
}

h3{
    color: rgb(20, 141, 248);
}

#img{
    width: 300px;
    height: 280px;
}

section{
    padding: 60px 0;
  }


 
/* Footer */

#footer {
    background-color: #eaba09;
    color: black;
    padding: 4.5em 0 2.5em 0;
    text-align: center;
}


#footer .copyright {
    font-size: 0.8em;
}




